<template>
  <div class="cart">
    <h1 class="cart_header">Корзина</h1>
    <div class="cart_article">
      <div class="cart_article_form">
        <div class="cart_article_form_row cart_article_form_row__border">
          <div class="cart_article_form_row_items">
            <h3 class="cart_article_form_header">Товары</h3>
            <div class="cart_button" @click="addArticle()">+</div>
          </div>
        </div>
        <div class="cart_article_form_row" v-if="!articles.length">Список товаров пуст.</div>
        <div class="cart_article_form_row" v-for="(article, index) in articles" :key="article.id">
          <div class="cart_article_form_row_errors" v-if="errors[article.id] && errors[article.id].length">
            <div class="cart_article_form_row_errors_item" v-for="error in errors[article.id]" :key="error">{{error}}</div>
          </div>
          <div class="cart_article_form_row_items">
            <div class="cart_article_form_row_element">
              <label
                class="cart_article_form_row_element_label"
                :for="getId(index,'name')"
              >{{index+1}}.</label>
            </div>
            <div class="cart_article_form_row_element">
              <label
                class="cart_article_form_row_element_label"
                :for="getId(index,'name')"
              >Название товара</label>
              <input
                :id="getId(index,'name')"
                class="cart_article_form_input"
                type="text"
                placeholder="Введите название"
                v-model="article.name"
              >
            </div>
            <div class="cart_article_form_row_element">
              <label
                class="cart_article_form_row_element_label"
                :for="getId(index,'count')"
              >Количество товара</label>
              <input
                :id="getId(index,'count')"
                class="cart_article_form_input"
                type="number"
                min="1"
                placeholder="Введите количество"
                v-model.number="article.quantity"
              >
            </div>
            <div class="cart_article_form_row_element">
              <label
                class="cart_article_form_row_element_label"
                :for="getId(index,'type')"
              >Тип валюты</label>
              <select
                name
                class="cart_article_form_input"
                v-model="article.currency"
                :id="getId(index,'type')"
              >
                <option value disabled>Выберите тип</option>
                <option value="rub">RUB</option>
                <option value="eur">EUR</option>
                <option value="usd">USD</option>
              </select>
            </div>
            <div class="cart_article_form_row_element">
              <label
                class="cart_article_form_row_element_label"
                :for="getId(index,'price')"
              >Цена товара</label>
              <input
                :id="getId(index,'price')"
                class="cart_article_form_input"
                type="number"
                min="1"
                placeholder="Введите цену"
                v-model.number="article.price"
              >
            </div>
            <div class="cart_article_form_row_element">
              <div class="cart_button cart_button__delete" @click="deleteArticle(index)">-</div>
            </div>
          </div>
        </div>
        <div class="cart_article_form_row">
          <div class="cart_article_form_submit" @click="calculate()">Посчитать</div>
        </div>
        <div v-if="result">
          <div class="cart_article_form_row cart_article_form_row__border">
            <h3 class="cart_article_form_header">Результат</h3>
          </div>
          <div class="cart_article_form_row" v-for="(currency, key) in result" :key="currency">
            <div class="cart_article_form_row_element_label">{{key}}:{{currency}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "cart",
  data() {
    return {
      validForm: true,
      errors: {},
      articles: [],
      result: null
    };
  },
  methods: {
    getId(index, name) {
      return `${String(index)}_${name}`;
    },
    addArticle() {
      this.articles.push({
        id: Math.random(),
        name: `Товар ${this.articles.length + 1}`,
        quantity: 1,
        currency: "rub",
        price: 1
      });
    },
    deleteArticle(index){
      this.articles = this.articles.filter((article,i)=>i != index)
    },
    validateForm() {
      let result = true;
      if (this.articles.length > 0) {
        this.articles.forEach(article => {
          const arrError = [];
          if (!article.name) {
            arrError.push("Введите название товара");
          }
          if (!article.quantity || article.quantity === 0) {
            arrError.push("Введите количество товара");
          }
          if (!article.currency) {
            arrError.push("Выберите тип товара");
          }
          if (!article.price || article.price === 0) {
            arrError.push("Введите цену товара");
          }
          if (this.errors.hasOwnProperty(article.id)) {
            this.errors[article.id] = arrError;
          } else {
            this.$set(this.errors, article.id, arrError);
          }
        });
        let search = false;
        for (const error in this.errors) {
          if (this.errors[error].length > 0) {
            search = true;
            break;
          }
        }
        result = !search;
      } else {
        result = false;
      }
      return result;
    },
    async calculate() {
      if (this.validateForm()) {
        let data = await this.$store.dispatch("GET_SUM", this.articles);
        if (data.ok) {
          this.result = data.data;
        } else {
          alert("Ошибка запроса. Попробуйте позднее.");
        }
      }
    }
  }
};
</script>

<style scoped lang="scss">
.cart {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  &_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #26ad56;
    color: #e2ffec;
    margin-left: 20px;
    cursor: pointer;
    &__delete {
      background: #fd2626;
      &:hover {
        background: #8a1414 !important;
      }
    }
    &:hover {
      background: #219a4c;
    }
  }
  &_header {
    padding: 20px;
  }
}
.cart_article {
  &_form {
    display: flex;
    width: 1100px;
    flex-direction: column;
    &_submit {
      cursor: pointer;
      padding: 10px 40px;
      background: #f1a212;
      color: #fff4df;
      &:hover {
        background: #d48a03;
        color: #fffefb;
      }
    }
    &_input {
      padding: 5px;
      width: 200px;
    }
    &_row {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 10px;
      margin-bottom: 20px;
      &_errors {
        margin-bottom: 10px;
        display: flex;
        color: #fd2626;
        font-size: 14px;
        &_item {
          margin-right: 20px;
        }
      }
      &_items {
        display: flex;
        margin-right: 20px;
        align-items: center;
      }
      &_element {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 20px;
        &_label {
          font-weight: bold;
          margin-bottom: 5px;
          font-size: 14px;
        }
      }
      &__border {
        border-bottom: 1px solid #c0c0c0;
      }
    }
    &_header {
      display: flex;
      justify-content: left;
    }
  }
}
</style>
