<template>
  <div id="app">
    <div class="container">
      <div class="wrapper_content">
        <Cart/>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Cart from "@/components/Cart.vue";

export default {
  name: "app",
  components: {
    Cart
  }
};
</script>


<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #2c3e50;
}
.container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
}
.wrapper_content {
  display: flex;
  max-width: 1280px;
  width: 100%;
  background: #f9f9f9;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
